{% extends 'base.html.twig' %}

{% form_theme formCategory "bootstrap_5_layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <h1 class="text-center">{{ title }}</h1>

    {{ form_start(formCategory) }}

    {{ form_row(formCategory.title) }}

    {{ form_row(formCategory.description) }}

    <button type="submit" class="btn btn-success">{{ title }}</button>

    {{ form_end(formCategory) }}

{% endblock %}
